/*
based on http://www.extjs.com/deploy/dev/examples/form/custom.html
*/

#search-results a {
    color: #385F95;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    text-decoration:none;
}
#search-results a:hover {
    text-decoration:underline;
}
#search-results .search-item {
    padding:5px;
}
#search-results p {
    margin:3px !important;
}
#search-results {
    border-bottom:1px solid #ddd;
    margin: 0 1px;
    height:300px;
    overflow:auto;
}
#search-results .x-toolbar {
    border:0 none;
}
